html{
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
}
.banner{
    overflow: hidden;
}
header{
    width: 100%;
    padding: 1vw 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.3);
    z-index: 999;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 100%;
    display: block;
}
.logo{
    width: 200px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu>a{
    margin:0px 15px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 1.5rem;
}
.menu>a:hover {
    color: #073683;
}
p{
    z-index: 99;
}
.linese{
    width: 2px;
    height: 30px;
    background-color: #C9C6C6;
    box-sizing: border-box;
}
.active{
    color: #0A5893 !important;
}
h1{
    z-index: 999;
}
@media screen and (max-width: 960px){
    html{
        font-size: 12px;
    }
    nav{
        width: 80%;
        margin: auto;
        display: block;
    }
    .logo{
        width: 100px;
        margin: auto;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:5px auto;
    }
    .menu>a{
        margin: 0px 3px;
        color: white;
        text-decoration: none;
        transition: all 0.3s;
        font-size: 1.5rem;
    }
}